*
!*/
!*.yaml
!.gitignore
!README.md
!/cameras
!/device_trackers
!/sensors
!/includes
!/automations
.cloud
.stfolder
.storage
broken
deps
homeassistant
tts
presence.yaml
entity_registry.yaml
floorplan.yaml
secrets.yaml
known_devices.yaml
ip_bans.yaml
!custom_components/